<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MirrorSiteLike</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-right: 2px solid #ccc;
}


    </style>
</head>
<body>
    <header>
        <div class="main">
            <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="index.html">Mirror SiteLike</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                 <!-- Another variation with a button -->
    
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href={% url "top-website-list" %}>Top Websites</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href={% url "latest-website-list" %}>Latest Sites</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href={% url "website-create" %}>Add/Update Your WebSite</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href={% url "website-list" %}>Removal Request</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text">https://</span>
                        </div>
                        <input type="text" class="form-control" placeholder="search-similar-websites">
                        <div class="input-group-append">
                        <button class="btn btn-secondary" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>
