<div class="pagination">
    <span class="step-links">
        {% if directories.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ directories.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current-page">Page {{ directories.number }} of {{ directories.paginator.num_pages }}.</span>

        {% if directories.has_next %}
            <a href="?page={{ directories.next_page_number }}">next</a>
            <a href="?page={{ directories.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
